body
{	
    place-items:center;
	background-color:white;
	padding:25px;
	margin:15px;
}
ul
{
	list-style-type:none;
	background-color:#3399FF;
	width:25%;
	padding:20px;
	word-spacing:5px;
	border-radius:10px;
	text-align:left;
}
ul li
{
	background-color:#CCE5FF;
	padding:8px;
	margin:8px;
	color:blue;
	word-spacing:2px;
	border-radius:20px;
}
.highlight
{
    background-color: #ffff00;
}
button
{
	width:80%;
height:7%;
}
result
{
	text-align:left;
	margin:20%;
}
footer
{
	text-align: left;
	font-size:25;
  
}

